@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --tausta: #eeeeee;
    --teksti: #0f3050;
    --teksti-vaalea: #2f6397;
    --tausta-tumma: #dddddd;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--tausta);
    color: var(--teksti);
}

main {
    font-size: 1.0em;
    line-height: 1.5em;
}

section {
    font-size: 1.0em;
    max-width: 1000px;
    width: 70%;
    margin: 20px auto;
}
.content {
    font-size: 1.0em;
}

.showcase {
    background-color: var(--teksti-vaalea);
    padding: 60px 0;
    width: 100%;
    height: 200px;
    line-height: 1.5px;
}

.showcase > div {
    font-size: 1.5em;
    color: #eeeeee;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}

.ingressi {
    font-size: 1.4em;
    font-style: italic;
    line-height: 1.5em;
}

.rakenne {
    font-size: 1.4em;
    font-style: italic;
    line-height: 1.5em;
}
h2 {
    font-size: 2.0em;
    color: var(--teksti-vaalea);
    margin-top: 30px;
}

header {
    display: block;
    background-color: var(--tausta);
    text-align: center;
    border: 1px solid var(--teksti);
    padding: 20px;
    background-color: var(--tausta-tumma);
}


footer {
    text-align: center;
    padding: 20px;
    background-color: var(--tausta-tumma);
    color: var(--teksti-vaalea);
}